* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navi {
    background-color: #FFB6C1;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.logo {
    padding-left: 130px;
    padding-top: 10px;
}

.links ul {
    display: flex;
    word-spacing: 4px;
    padding-left: 400px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    padding-left: 40px;
    color: black;
}

.links ul li a:hover {
    color: green;
    font-size: 20px;
}

.main {
    background-image: url('img/bg1-removebg-preview.png');
    color: black;
    height: 700px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: 100%;
}

.content {
    text-transform: uppercase;
    text-align: right;
    padding-top: 150px;
    padding-right: 90px;
}

.content h1 {
    font-size: 35px;
}

.content p {
    padding-right: 130px;
    padding-top: 10px;
    font-size: 20px;
}

.btn {
    padding-right: 200px;
    padding-top: 100px;
}

.button-49,
.button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FFB6C1 5%);
    border: 0;
    color: black;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}

.trend {
    padding-left: 120px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
}

.products h1 {
    font-size: 18px;
    text-align: center;
}

.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}

.btn2 {
    padding-top: 40px;
    text-align: center;
}

.footer {
    background-color: pink;
    height: 40px;
    margin-top: 80px;
}

.footer p {
    padding-top: 10px;
    text-align: center;
}